/* src/SocialMediaButtons.css */
.social-media-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.social-media-buttons a {
 
  font-size: 2em;
  transition: color 0.3s;
}

.social-media-buttons a:hover {
  color: #0073b1; /* LinkedIn color */
}

.social-media-buttons a:hover:nth-child(2) {
  color: #1da1f2; /* Twitter color */
}

.social-media-buttons a:hover:nth-child(3) {
  color: #e4405f; /* Instagram color */
}

.social-media-buttons a:hover:nth-child(4) {
  color: #3b5998; /* Facebook color */
}

.social-media-buttons a:hover:nth-child(5) {
  color: #ff0000; /* YouTube color */
}

.social-media-buttons a:hover:nth-child(6) {
  color: #dd4b39; /* Email color */
}

.container {
    display: flex;
    /* align-items: center; */
    padding: 20px;
  }
  
  .image {
    flex: 1;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  
  .text {
    flex: 2;
    padding-left: 20px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .text {
      padding-left: 0;
      padding-top: 20px;
    }
   
  }
  h1{
    font-size: 2.5em;
  }

  p {
    font-size: 0.8em; /* Decrease the font size of p */
    font-weight: 100;  /* Make the text lighter */
  }